In [1]:
import pandas as pd

In [2]:
df_train_identity_orig = pd.read_csv('train_identity.csv')
df_train_transaction_orig = pd.read_csv('train_transaction.csv')

In [4]:
len(df_train_identity_orig)

144233

In [5]:
len(df_train_transaction_orig)

590540

In [6]:
df_merge_orig = pd.merge(df_train_identity_orig, df_train_transaction_orig, how='left', on='TransactionID', indicator=True)

In [7]:
df_merge_orig.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V331,V332,V333,V334,V335,V336,V337,V338,V339,_merge
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both

In [9]:
len(df_merge_orig)

144233

In [13]:
#Undersampling
#Balance the data by randomly selecting a subset of data for the targeted classes.
#It works by performing k-means clustering on the majority class and removing data points
#from high-density centroids.

#pip install imbalanced-learn
import imblearn
imblearn.under_sampling.RandomUnderSampler(sampling_strate)

NameError: name 'sampling_strate' is not defined