In [30]:
# Create a cleaned training IDENTITY set 
import pandas as pd
df_transact_train = pd.read_csv('train_identity.csv')

In [31]:
df_transact_train.columns.values

array(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05',
       'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12',
       'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19',
       'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26',
       'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33',
       'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo'], dtype=object)

In [3]:
# Keep only columns with <1%  of null and na vaules
low_null_columns = (df_transact_train.isnull().sum()/len(df_transact_train)*100) < 20

low_nan_columns = []
index = 0
print("columns with less than 1% nan")
for column in low_null_columns:
    if column == True:
        print(low_null_columns.index[index])
        low_nan_columns.append(low_null_columns.index[index])
    index += 1

columns with less than 1% nan
TransactionID
id_01
id_02
id_05
id_06
id_11
id_12
id_13
id_15
id_16
id_17
id_19
id_20
id_28
id_29
id_31
id_35
id_36
id_37
id_38
DeviceType
DeviceInfo

In [4]:
df_low_nans = df_transact_train.loc[:, low_nan_columns]

In [5]:
df_low_nans.shape

(144233, 22)

In [6]:
df_low_nans.dropna().shape

(97614, 22)

In [7]:
df_no_nans = df_low_nans.dropna()

In [32]:
# Create cleaned TRANSACTION training dataset
df_trans = pd.read_csv('train_transaction.csv')

In [33]:
df_trans.columns.values

array(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain',
       'R_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8',
       'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4',
       'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14',
       'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1',
       'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29',
       'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38',
       'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47',
       'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56',
       'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65',
       'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74',
       'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83',
       'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92',
       'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101',
       'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109',
       'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117',
       'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125',
       'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133',
       'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141',
       'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149',
       'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157',
       'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165',
       'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173',
       'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181',
       'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189',
       'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197',
       'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205',
       'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213',
       'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221',
       'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229',
       'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237',
       'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245',
       'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253',
       'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261',
       'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269',
       'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277',
       'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285',
       'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293',
       'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301',
       'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309',
       'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317',
       'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325',
       'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333',
       'V334', 'V335', 'V336', 'V337', 'V338', 'V339'], dtype=object)

In [15]:
df_trans_cut = df_trans[['isFraud', 'TransactionID']]

# Merge TRANSACTION and IDENTITY datasets on IDENTITY set to get 'isFraud fro the transaction set
df_no_nans = pd.merge(df_no_nans,df_trans_cut,how='left', on='TransactionID')
df_no_nans[:5]

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_12,id_13,id_15,id_16,...,id_31,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo,isFraud_x,isFraud_y,isFraud
0,2987008,-5.0,98945.0,0.0,-5.0,100.0,NotFound,49.0,New,NotFound,...,mobile safari 11.0,T,F,F,T,mobile,iOS Device,0,0,0
1,2987010,-5.0,191631.0,0.0,0.0,100.0,NotFound,52.0,Found,Found,...,chrome 62.0,F,F,T,T,desktop,Windows,0,0,0
2,2987017,-5.0,61141.0,3.0,0.0,100.0,NotFound,52.0,Found,Found,...,chrome 62.0,T,F,T,T,desktop,Windows,0,0,0
3,2987040,-10.0,116098.0,0.0,0.0,100.0,NotFound,52.0,Found,Found,...,chrome 62.0,F,F,T,T,desktop,Windows,0,0,0
4,2987048,-5.0,257037.0,0.0,0.0,100.0,NotFound,52.0,New,NotFound,...,chrome 62.0,F,F,T,T,desktop,Windows,0,0,0

In [16]:
df_no_nans.columns.values

array(['TransactionID', 'id_01', 'id_02', 'id_05', 'id_06', 'id_11',
       'id_12', 'id_13', 'id_15', 'id_16', 'id_17', 'id_19', 'id_20',
       'id_28', 'id_29', 'id_31', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo', 'isFraud_x', 'isFraud_y', 'isFraud'],
      dtype=object)

In [17]:
df_no_nans['isFraud'].value_counts()

0    89973
1     7641
Name: isFraud, dtype: int64

In [22]:
from random import sample
from sklearn import preprocessing

le = preprocessing.LabelEncoder() #Encode labels with value between 0 and n_classes-1

df_no_nans['id_15'] = le.fit_transform(df_no_nans['id_15'])
df_no_nans['id_16'] = le.fit_transform(df_no_nans['id_16'])
df_no_nans['id_12'] = le.fit_transform(df_no_nans['id_12'])
df_no_nans['id_13'] = le.fit_transform(df_no_nans['id_13'])
df_no_nans['id_17'] = le.fit_transform(df_no_nans['id_17'])
df_no_nans['id_19'] = le.fit_transform(df_no_nans['id_19'])
df_no_nans['id_20'] = le.fit_transform(df_no_nans['id_20'])
df_no_nans['id_28'] = le.fit_transform(df_no_nans['id_28'])
df_no_nans['id_29'] = le.fit_transform(df_no_nans['id_29'])
df_no_nans['id_31'] = le.fit_transform(df_no_nans['id_31'])
df_no_nans['id_35'] = le.fit_transform(df_no_nans['id_35'])
df_no_nans['id_36'] = le.fit_transform(df_no_nans['id_36'])
df_no_nans['id_37'] = le.fit_transform(df_no_nans['id_37'])
df_no_nans['id_38'] = le.fit_transform(df_no_nans['id_38'])
df_no_nans['DeviceType'] = le.fit_transform(df_no_nans['DeviceType'])
df_no_nans['DeviceInfo'] = le.fit_transform(df_no_nans['DeviceInfo'])

mask = df_no_nans['isFraud'] == 1
ident_RAW_Fraud = df_no_nans[mask] #length: 7641
ident_RAW_Non = df_no_nans[-mask]

ident_RAW_NonFraud = ident_RAW_Non.sample(n = 7641)

# Create balanced TRANSACTION training set with half known frauds and half known non-frauds
df_train_balanced = pd.concat([ident_RAW_NonFraud, ident_RAW_Fraud])

print (len(ident_RAW_Fraud))
print (len(ident_RAW_NonFraud))
print (len(df_train_balanced))

#for variable in cat_list:
#    le.fit(df_no_nans['{}'.format(variable)])
#    df_no_nans['{}'.format(variable)] = le.transform()
#le.fit(['chrome','chrome','safari','firefox'])
#le.transform

7641
7641
15282

In [24]:
df_train_balanced.to_csv('cleaned train_identity.csv') #TODO: df_train_balanced is from the TRANSACTION dataset. rename to cleaned_train_both?

In [28]:
#CREATE VALIDATION FROM TRAIN SET
df_no_nans.to_csv('identity_test.csv') #TODO: df_no_nans comes from the MERGED train set. rename as cleaned_identity_train?

In [29]:
df_no_nans['DeviceInfo']

0        1541
1        1431
2        1431
3        1431
4        1431
         ...
97609     256
97610      60
97611     685
97612     661
97613     821
Name: DeviceInfo, Length: 97614, dtype: int64